.cart, .checkout {
  box-sizing: border-box;
  display: flex;
}

.cart-container{
  width: 50vw;
  margin-left: 5vw;
}

.cart-product {
  display: flex;
  align-self: flex-start;
  padding: 20px;
  margin-top: 20px;
  border-top: 3px black solid;
  justify-content: space-between;
}

.cart-image {
  display: flex;
  margin-right: 20px;
}

.cart-image img.small {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.cart-info {
  display: flex;
  flex-direction: column;
}

.cart-info p, .cart-info h3 {
  margin: auto;
  text-align: center;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.checkout-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .cart, .checkout {
    display: flex;
    flex-direction: column;
  }
  .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
  }

  .checkout-container {
    align-items: center;
    width: 100vw;
  }

  .cart-product {
    width: 95vw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 3px black solid;
    border-top: none;
  }

  .cart-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    
  }
}