/* import fonts here */

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background: rgb(250, 225, 82);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navlink {
  font: bold 1.3em "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  margin: 15px;
  text-decoration: none
}

.navlink:hover {
  background-color: rgb(250, 225, 82);
}


#username-input, #password-input,
#firstname-input, #lastname-input,
#email-input, #search-field {

  font: bold 1em Tahoma;
  border-radius: 4px 4px 4px;
  height: 30px;
  width: 200px;
  margin-right: 20px;
  border: 1px solid black;
  margin: 15px;

}

#search-word {
  font: bold 1em Tahoma;
  color:rgb(12, 12, 12);
  margin-bottom: 3px;
}

#single-order {
  display:flex;
  flex-direction:column;
  height:auto;
  width:auto;
  border: 2px solid black;
  background:honeydew;
  margin: 10px
}

.button {
  height: 30px;
  width: 130px;
  border-radius: 5px 5px 5px;
  box-shadow: 7px 5px 5px slateblue;
  margin: 12px;
}

button:hover {
  background-color: darkgray;
}


#quantity-input {
  height: 30px;
  width: 85px;
  border-radius: 4px 4px 4px;
  margin:12px;
  text-align: center;
}

img.medium {
  width:40%;
  
}

img.small{
  width: 30%;
}

#site-title {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-around;
  /* background-color: honeydew; */
  background-image: url('https://images.contentstack.io/v3/assets/blt5423a503ab876a21/bltb6bc341b16e2b1e8/5f64f04c945334688477ff23/FallingPopcornBackground-1920x1080.jpg');
  height: 120px;
  padding: 10px;
}

#navbar {
  display: flex;
  align-self: flex-end;
  margin-right: 25px;
}

#title {
  display: flex;
  align-self: flex-start;
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: -10px;
}
