/* import fonts here */

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: cornflowerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navlink {
  font: bold 1.3em "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: indigo;
  margin: 25px;

}

#single-product {
  border: 3px solid black;
  margin: 20px;
  background:bisque;
  width: 50%;
  margin: 50px;

}

#username-input, #password-input,
#firstname-input, #lastname-input,
#email-input, #search-field {

  font: bold 1em Tahoma;
  border-radius: 4px 4px 4px;
  height: 30px;
  width: 200px;
  margin-right: 20px;
  border: 1px solid black;
  margin: 15px;

}

#search-word {
  font: bold 1em Tahoma;
  color:deeppink;
  margin-bottom: 3px;
}

#single-order {
  display:flex;
  flex-direction:column;
  height:auto;
  width:auto;
  border: 2px solid black;
  background: bisque;
  margin: 10px
}

.button {
  height: 25px;
  width: 130px;
  border-radius: 5px 5px 5px;
  box-shadow: 7px 5px 5px slateblue;
  margin:12px;
}

#quantity-input {
  height: 25px;
  width: 85px;
  border-radius: 4px 4px 4px;
  margin:12px;
}

img.medium {
  width:40%;
  
}