/* import fonts here */

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: lightsteelblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navlink {
  font: bold 1.3em "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: indigo;
  margin: 25px;

}

#single-product {
  border: 3px solid black;
  margin: 20px;
  background: beige;

}