#single-product-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;  
}

#single-product {
    display: flex;
    flex-basis: 350px;
    max-width: 450px;
    height: 525px;
    flex-grow: 0;
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color:peru;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#single-review {
    display: flex;
    flex-basis: 420px;
    flex-direction: column;
    max-width: 450px;
    flex-grow: 0;
    padding: 10px;
    margin: 20px 0 20px 0;
    background-color:peru;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#back-buttons {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px;
}

#back-buttons button {
    width: 45%;
}