#single-product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;  
}

#single-product {
    display: flex;
    flex-basis: 350px;
    max-width: 450px;
    height: 525px;
    flex-grow: 0;
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color:rgba(205, 134, 63, 0.76);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#reviews-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#single-review {
    display: flex;
    flex-basis: 420px;
    flex-direction: column;
    width: 450px;
    padding: 10px;
    margin: 20px 0 20px 0;
    background-color:rgba(205, 134, 63, 0.76);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#back-buttons {
    display: flex;
    justify-content: center;
    width: 85%;
    padding: 10px;
}

#back-buttons button {
    width: 40%;
}

@media screen and (max-width: 600px) {
    #single-product-page {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      #reviews-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90vw;
    }
    
      #single-review {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 95vw;
        flex-grow: 1;
      }
}