#single-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#user-info {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(205, 134, 63, 0.76); ;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 1vw;
  padding: 15px;
}

#all-orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55vw;
  background: rgb(250, 225, 82);
  border-radius: 5px;
  margin: 1vw;
  padding: 5px;
}

#order-card {
  display: flex;
  flex-direction: column;
  margin: 10px auto 10px auto;
  background: rgba(205, 134, 63, 0.76);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 48%;
  justify-content: center;
  align-items: center;
}

#order-info {
  display: flex;
  flex-direction: column;
}

#order-info h3 {
  margin: 10px;
  text-align: center;
}

#products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
}

#order-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order-product p {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 600px) {
  #single-user {
    flex-direction: column;
    justify-content: center;
  }

  #user-info {
    width: 95vw;
    flex-direction: column;
    align-items: center;
  }

  #all-orders {
    display: flex;
    width: 95vw;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #order-card {
    width: 95%;
  }

}














